* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f5f7fa;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}
